{% load static %}

<div id="folio-wrapper" class="block-1-2 block-mob-full stack">

    <div class="bgrid folio-item">
      <div class="item-wrap">
          <!-- <img src="{% static 'images/portfolio/liberty.jpg' %}" alt="Liberty"> -->
          <img src="{{ project.image_link }}" alt="{{ project.title }}">
         <a href="#modal-{{ project.id }}" class="overlay">          
            <div class="folio-item-table">
                <div class="folio-item-cell">
                           <h3 class="folio-title">{{ project.title }}</h3>	     					    
                             <span class="folio-types">
                                 {{ project.desc_short }}
                           </span>
                       </div>	                      	
            </div>                    
         </a>
      </div>	               
       </div> <!-- /folio-item -->  

   <!-- modal popups - begin
   ============================================================= -->
   <div id="modal-{{ project.id }}" class="popup-modal slider mfp-hide">	

            <div class="media">
                <!-- <img src="{% static 'images/portfolio/modals/m-liberty.jpg' %}" alt="" /> -->
                <img src="{{ project.image_link }}" alt="" />
            </div>      	

          <div class="description-box">
             <h4>{{ project.title }}</h4>		      
             <p>{{ project.desc_long }}</p>			               
          </div>

        <div class="link-box">
           <a href="http://www.behance.net">Details</a>
             <a href="#" class="popup-modal-dismiss">Close</a>
        </div>		      

      </div> <!-- /modal-01 -->